body{
    background-color: #bebebe;
}
.carcaplow {
    position: static;
    y: -500;
}
.icon-color {
    background-color:#94536d !important;
}
#answers{
    margin-top: 20px;
}
#background {
    background-image: url(#!);
    min-height: 100vh;
    background-origin: inherit;
}
#msgBox {
    height: 130px;
}
#qr {
    padding: 2%;
    background-color: rgba(0, 0, 0, .4);
    margin-top: -8%;
    }
#quizbox {
    height: 250px;
}
#support {
    margin-top: 15vh;
    margin-bottom: 5vh;
}
#s {
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
}
#top{
    margin-top: 15vh;
}
#v {
    font-family: 'Abril Fatface', cursive;
    font-size: 28px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}
@media screen and (min-width: 768px){
    #msgBox{
        height: 105px;
    }

}
